body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/** =============== Gallery styles ===============  */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 1128px;
  margin: 50px auto;
}

.gallery-item {
  max-width: 360px;
  max-height: 200px;
}

/* .gallery-link {
} */

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition-duration: 0.2s;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.modal img {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  height: auto;
  border-radius: 8px;
}
